.spacer {
  width: 100%
}

.logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.dates {
  /* Width of list */
  width: 60vw;
  margin: 0 auto;
}

.location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.location:hover {
 /* Change color on hover */
}

.city {
  text-transform: capitalize;
  width: fit-content;
}

.date {
  width: 300px;
  text-align: right;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .logo {
    
  }

  .dates {
    width: 95vw;
    margin: 0 auto;
  }
}